<!DOCTYPE html> <!-- widoki odpowiednich stronek są wstawiane funkcja yield do body -->
<html>
<head>
<!-- stara wersja  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title> --> <!-- insert the title, = przy otwierajacym oznacza execute i insert -->

	<title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %><!-- wstawiaplik application.css i javascripty ktore jeszce nam obrabiaja 																	stronke -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> <!-- zapobiega atakowi CSRF -->
</head>
<body>
	<%= render 'layouts/header' %> <!-- funkcja render wstawia tu partiala z pliku _header.html.erb -->
		<div class="container">
			<%= yield %>  <!-- ta funkcja wstawia tutaj html widoku strony do ktorej sie odwolujemy bezposrednio -->

			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
